.main{
	width: 980px;
	height: 455px;
	margin-left: 219px;
	margin-top: 10px;
}
.focus{
	width: 720px;
	height: 455px;
	float: left;
}
.newflesh{
	width: 250px;
	height: 455px;
	float: right;
}
.news{
	height: 163px;
	border: 1px solid #e8e8e7;
}
.news_hd{
	height: 32px;
	line-height: 32px;
	border-bottom: 1px dotted #DFDFDF;
	font-size: 14px;
	padding-left: 14px;
	padding-right: 14px;
}
.news_hd a{
	float: right;
	font-family: 'icomoon';
	font-size: 12px;
}
.news_bd{
	padding: 10px 0 0 15px ;
}
.news_bd li{
	height: 24px;
}
.lifeservice{
	height: 208px;
	border: 1px solid #e8e8e7;
	border-top: none;
	overflow: hidden;
}
.lifeservice ul{
	width: 255px;

}
.lifeservice li{
	width: 62px;
	height: 70px;
	border-bottom: 1px solid #e8e8e7;
	border-right: 1px solid #e8e8e7;
	float: left;
	position: relative;
}
.lifeservice li p{
	text-align: center;
}
.lifeservice li a{
	height: 100%;
	display: block;
	overflow: hidden;/*解决外边距塌陷*/
}
.service_ico{
	width: 24px;
	height: 24px;
	display: block;
	margin: 10px auto;
	background: url(../img/icons.png) no-repeat;
}
.service_ico_huafei{
	background-position: -17px -16px;
}
.service_ico_feiji{
	width: 26px;
	background-position: -78px -16px;
}
.hot{
	position: absolute;
	right: 0;
	top: 0;
	width: 12px;
	height: 15px;
	background:url(../img/jian.jpg) no-repeat;
}
.bagrin{
	height: 75px;
	margin-top: 5px;
}

.recommond{
	height: 163px;
	margin-top: 10px;
}
.recommond_hd{
	width: 200px;
	height: 163px;
	background-color: #5c5251;
	text-align: center;
}
.recommond_hd img{
	margin-top: 30px;
	margin-bottom: 10px;
}
.recommond_hd h3{
	font-size: 18px;
	color: white;
	font-weight: normal;
}
.recommond_bd{
	width: 1000px;
	height: 163px;
	background-color: #ebebeb;
}
.recommond_bd li{
	margin-top: 10px;
	width: 249px;
	height: 145px;
	border-right: 1px solid #ccc;
	float: left;
}
.recommond_bd .last{/*注意权值问题*/
	border: none;
}

/*楼层区*/
.box_hd{
	height: 30px;
	border-bottom: 2px solid #c81623;
	background-color: pink;
	margin-top: 25px;
}
